{% extends "products/base.html" %}

{% load static %}

{% block content %}

<div class="security-page">

    <div class="security-card password-card">

        <h2>
            تغییر رمز عبور 🔐
        </h2>

        <p>
            برای امنیت بیشتر، رمز عبور جدید خود را وارد کنید.
        </p>

<form method="post" class="password-form">

    {% csrf_token %}

    {% if form.errors %}
        <div class="error-box">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}


    <div class="form-group">
        <label>رمز فعلی</label>
        {{ form.old_password }}
    </div>


    <div class="form-group">
        <label>رمز جدید</label>
        {{ form.new_password1 }}

        <small>
            رمز باید حداقل ۸ کاراکتر باشد.
        </small>

    </div>


    <div class="form-group">
        <label>تکرار رمز جدید</label>
        {{ form.new_password2 }}
    </div>


    <button class="change-password-btn">
        🔐 ذخیره رمز جدید
    </button>

</form>





    </div>

</div>

{% endblock %}