{% extends "products/base.html" %}

{% block content %}

<div class="dashboard-page">

    <div class="page-card">

        <div class="page-icon">
            ⚙️
        </div>


        <h1>
            تنظیمات
        </h1>


        <p>
            تنظیمات حساب کاربری شما
        </p>


        <div class="setting-item">

            🔔 دریافت اعلان‌ها

            <input type="checkbox">

        </div>


        <div class="setting-item">

            🎁 دریافت تخفیف‌ها

            <input type="checkbox">

        </div>


    </div>

</div>

{% endblock %}